.container {
    width: 250px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 50px rgba(0,0,0,.15);
    font-family: sans-serif;

    .header {
        height: 30px;
        background-color: #8e3bff;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    .alumno {
        padding: 5px 15px;
        font-weight: 400;
        font-weight: bold;
    }

}